Repository qualcomm-linux/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @hrw, @apalos, @JohnAZoidberg

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD Seattle platforms
/Platform/AMD/OverdriveBoard/** @abdattar @ardbiesheuvel @changab @leiflindholm @pbgrimes
/Silicon/AMD/Styx/**            @abdattar @ardbiesheuvel @changab @leiflindholm @pbgrimes
/Platform/LeMaker/CelloBoard/** @ardbiesheuvel @leiflindholm
/Platform/SoftIron/             @ardbiesheuvel @leiflindholm

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

# HiSilicon
/Platform/Hisilicon/** @leiflindholm
/Silicon/Hisilicon/** @leiflindholm

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/QuarkPlatformPkg/** @mdkinney @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/QuarkSocPkg/** @mdkinney @nate-desimone @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @hrw @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @hrw @leiflindholm

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/PlatformPkg/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @JohnAZoidberg

# Socionext platforms and silicon
/Platform/Socionext/** @ardbiesheuvel @leiflindholm
/Silicon/NXP/Library/Pcf8563RealTimeClockLib/** @ardbiesheuvel @leiflindholm
/Silicon/Socionext/** @ardbiesheuvel @leiflindholm

/Silicon/RISC-V/ProcessorPkg/** @vlsunil

/Silicon/SiFive/** @JohnAZoidberg

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar

Silicon/Ampere: Enable FMP capsule updates in AmpereAltraPkg.dsc.inc
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Platform/ADLINK: Update SMBIOS Type17 to use JedecJep106Lib
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.dsc
  Platform/ADLINK/ComHpcAltPkg/Drivers/SmbiosPlatformDxe/SmbiosPlatformDxe.inf
  Platform/ADLINK/ComHpcAltPkg/Drivers/SmbiosPlatformDxe/Type17/PlatformMemoryDeviceFunction.c
Owners: @bexcran

Silicon/Ampere: Set PcdFdSize to 32MB
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Reduce PcdPlatformBootTimeOut to 5s
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Add PcdFirmwareVersionNumber for capsule updates
  Silicon/Ampere/AmpereSiliconPkg/AmpereSiliconPkg.dec
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere: Change BMC config file to bmc.conf
  Platform/Ampere/Tools/fwflash.sh
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Increase max auth variable sizes
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Ampere: Add SHELL_ENABLE define (TRUE by default)
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.dsc
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
  Platform/Ampere/JadePkg/Jade.dsc
  Platform/Ampere/JadePkg/Jade.fdf
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @bexcran, @nhivp, @chuongtranle

Silicon/Ampere: Check that flash size is greater than NV storage size
  Silicon/Ampere/AmpereAltraPkg/Drivers/FlashFvbDxe/FlashFvbDxe.c
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Add the BGRT driver
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Add RemoveStaleFvFileOptions from OVMF
  Silicon/Ampere/AmpereSiliconPkg/Drivers/PlatformBootManagerDxe/PlatformBootManagerDxe.c
Owners: @nhivp, @bexcran, @chuongtranle

Platform/{ADLINK,Ampere}: Rework capsule updates
  Platform/ADLINK/ComHpcAltPkg/Capsule/SystemFirmwareDescriptor/SystemFirmwareDescriptor.aslc
  Platform/ADLINK/ComHpcAltPkg/Capsule/SystemFirmwareDescriptor/SystemFirmwareDescriptor.inf
  Platform/ADLINK/ComHpcAltPkg/Capsule/SystemFirmwareUpdateConfig/TfaUefiFirmwareUpdateConfig.ini
  Platform/ADLINK/ComHpcAltPkg/Capsule/SystemFirmwareUpdateConfig/UefiFirmwareUpdateConfig.ini
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.dsc
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
  Platform/ADLINK/ComHpcAltPkg/ComHpcAltCapsule.dsc
  Platform/ADLINK/ComHpcAltPkg/ComHpcAltCapsule.fdf
  Platform/ADLINK/ComHpcAltPkg/firmware.metainfo.xml
  Platform/Ampere/JadePkg/Capsule/SystemFirmwareDescriptor/SystemFirmwareDescriptor.aslc
  Platform/Ampere/JadePkg/Capsule/SystemFirmwareDescriptor/SystemFirmwareDescriptor.inf
  Platform/Ampere/JadePkg/Capsule/SystemFirmwareUpdateConfig/SCPFirmwareUpdateConfig.ini
  Platform/Ampere/JadePkg/Capsule/SystemFirmwareUpdateConfig/SystemFirmwareUpdateConfig.ini
  Platform/Ampere/JadePkg/Jade.dsc
  Platform/Ampere/JadePkg/Jade.fdf
  Platform/Ampere/JadePkg/JadeCapsule.dsc
  Platform/Ampere/JadePkg/JadeCapsule.fdf
  Platform/Ampere/JadePkg/firmware.metainfo.xml
  Platform/Ampere/Tools/fw_ver.sh
  Platform/Ampere/Tools/tools_def.txt.patch
  Platform/Ampere/buildfw.sh
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraLinuxBootPkg.dsc.inc
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @bexcran, @nhivp, @chuongtranle

Silicon/Ampere: Add checks around PerformanceLib
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraLinuxBootPkg.dsc.inc
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Ampere: Rename SECURE_BOOT_ENABLE to UEFI_SECURE_BOOT_ENABLE
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.dsc
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.dsc
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.fdf
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.dsc
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.fdf
  Platform/Ampere/JadePkg/Jade.dsc
  Platform/Ampere/JadePkg/Jade.fdf
  Platform/Ampere/buildfw.sh
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @bexcran, @leiflindholm, @mdkinney, @nhivp, @chuongtranle

Platform/ADLINK: Minor cleanups of ComHpcAltBoardSetting.cfg
  Platform/ADLINK/ComHpcAltPkg/ComHpcAltBoardSetting.cfg
Owners: @bexcran

Silicon/Ampere: Add LogoDxe to display logo during boot
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @bexcran, @nhivp, @chuongtranle

Silicon/Ampere: Use DxeRuntimeDebugLibSerialPort in RELEASE builds
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Platform/ADLINK: Enable building with or without X86 emulator
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.dsc
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
Owners: @bexcran

Silicon/Ampere: Unconditionally add IntrinsicLib, OpensslLib and BaseCryptLib
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Fix GetNumberOfSupportedSockets
  Silicon/Ampere/AmpereAltraPkg/Library/AmpereCpuLib/AmpereCpuLibCommon.c
Owners: @nhivp, @bexcran, @chuongtranle

Platform/ADLINK: configure video resolution to max
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.dsc
Owners: @bexcran

Platform/ADLINK: Add boot manager drivers
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
Owners: @bexcran

Platform/Ampere: Add SecureBoot tools
  Platform/Ampere/Tools/openssl.cnf
Owners: @nhivp, @bexcran, @chuongtranle

Platform/ADLINK: Add BGRT driver
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
Owners: @bexcran

Platform/Ampere: Use full space allocated for NVRAM
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
  Platform/Ampere/JadePkg/Jade.fdf
  Silicon/Ampere/AmpereAltraPkg/Drivers/FlashPei/FlashPei.c
Owners: @bexcran, @nhivp, @chuongtranle

Platform/ADLINK: Improve MmcLib I2C brd config
  Platform/ADLINK/ComHpcAltPkg/Library/MmcLib/MmcLib.c
Owners: @bexcran

Silicon/Ampere: Add extra 3MB for FPDT boot records
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Platform/ADLINK: Move FirmwarePerformancePei earlier
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
Owners: @bexcran

Platform/Ampere: Add macOS support to buildfw.sh
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: sync up with edk2 ArmPkg changes
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraLinuxBootPkg.dsc.inc
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Platform/{ADLINK,ASRockRack,Ampere}: Fix varstore comments and update blockmap
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.fdf
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.fdf
  Platform/Ampere/JadePkg/Jade.fdf
Owners: @bexcran, @leiflindholm, @mdkinney, @nhivp, @chuongtranle

Platform/Ampere: List the build.conf defaults in help output
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Check if INCLUDE_TFTP_COMMAND is TRUE
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @nhivp, @bexcran, @chuongtranle

Silicon/Ampere: Don't use yoda conditions
  Silicon/Ampere/AmpereAltraPkg/Library/PlatformFlashAccessLib/PlatformFlashAccessLib.c
Owners: @nhivp, @bexcran, @chuongtranle

Platform/ADLINK: Add SecureBoot keys
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.fdf
  Platform/Ampere/Tools/GenerateSecureBootKeys.sh
  Platform/Ampere/Tools/openssl-1.cnf
  Platform/Ampere/Tools/openssl-3.cnf
Owners: @bexcran, @nhivp, @chuongtranle

Platform/Ampere: Rework buildfw.sh to support capsules and secure boot
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere/buildfw.sh: Switch from lcab to gcab
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere: Fix file name in fwflash.sh error message
  Platform/Ampere/Tools/fwflash.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere/buildfw.sh: Update to SRP 2.10.20241219
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle

Platform/Ampere/build.fw.sh: Default to not allowing HTTP connections
  Platform/Ampere/buildfw.sh
Owners: @nhivp, @bexcran, @chuongtranle
