Repository qualcomm-linux/edk2-platforms, changes with the owners that CODEOWNERS names for each.
All owners: @leiflindholm, @mdkinney, @ardbiesheuvel, @abdattar, @changab, @pbgrimes, @exinghr, @nhivp, @bexcran, @chuongtranle, @samimujawar, @vlsunil, @heatd, @nate-desimone, @SaiChaganty, @ydong10, @dandanbi, @yqian4, @ChaselChiu, @benjamindoron, @jackpot51, @BobCF, @lgao4, @niruiyu, @bibo-mao, @kilaterlee, @lixianglai, @ndhillonm, @wojtas-marcin, @hrw, @apalos, @JohnAZoidberg

Ampere: Catch up with upstream changes
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.dsc
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.dsc
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2Q.fdf
  Platform/ASRockRack/Altra1L2QPkg/Altra1L2QLinuxBoot.fdf
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.dsc
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2T.fdf
  Platform/ASRockRack/Altra1L2TPkg/Altra1L2TLinuxBoot.fdf
  Platform/Ampere/JadePkg/Jade.dsc
  Silicon/Ampere/AmpereAltraPkg/AmpereAltraPkg.dsc.inc
Owners: @bexcran, @leiflindholm, @mdkinney, @nhivp, @chuongtranle

Platform/{ADLINK,Ampere}: Generate new PLATFORM_CONFIG_UUIDs
  Platform/ADLINK/ComHpcAltPkg/ComHpcAlt.dsc
  Platform/Ampere/JadePkg/Jade.dsc
Owners: @bexcran, @nhivp, @chuongtranle

Platform/{ADLINK,ASRockRack,Ampere}: Add .gitignore files
  Platform/ADLINK/.gitignore
  Platform/ASRockRack/.gitignore
  Platform/Ampere/.gitignore
Owners: @bexcran, @leiflindholm, @mdkinney, @nhivp, @chuongtranle

Platform/Ampere: Add PERFORMANCE_MEASUREMENT_ENABLE checks for JadePkg
  Platform/Ampere/JadePkg/Jade.dsc
  Platform/Ampere/JadePkg/Jade.fdf
Owners: @nhivp, @bexcran, @chuongtranle

Update Fitgen to support Fusa Diagnostics ACM version 0x200
  Silicon/Intel/Tools/FitGen/FitGen.c
Owners: @BobCF, @lgao4, @nate-desimone, @SaiChaganty

Silicon: Qualcomm: Add GENI SE UART driver
  Silicon/Qualcomm/Library/GeniSerialPortLib/GeniSerialPortLib.c
  Silicon/Qualcomm/Library/GeniSerialPortLib/GeniSerialPortLib.inf
Owners: @leiflindholm, @mdkinney

Silicon: Qualcomm: Add support for Kodiak SoC
  Silicon/Qualcomm/Kodiak/Kodiak.dec
  Silicon/Qualcomm/Kodiak/Library/KodiakLib/KodiakHelper.S
  Silicon/Qualcomm/Kodiak/Library/KodiakLib/KodiakLib.c
  Silicon/Qualcomm/Kodiak/Library/KodiakLib/KodiakLib.inf
  Silicon/Qualcomm/Kodiak/Library/KodiakLib/KodiakMem.c
Owners: @leiflindholm, @mdkinney

Platform: Qualcomm: Add support for RB3Gen2 platform
  Platform/Qualcomm/RB3Gen2/OemMiscLib/OemMiscLib.c
  Platform/Qualcomm/RB3Gen2/OemMiscLib/OemMiscLib.inf
  Platform/Qualcomm/RB3Gen2/RB3Gen2.dsc
  Platform/Qualcomm/RB3Gen2/RB3Gen2.fdf
Owners: @leiflindholm, @mdkinney

Platform: Qualcomm: RB3Gen2: Add ELF payload tooling support
  Platform/Qualcomm/RB3Gen2/RB3Gen2-generate-elf.sh
  Platform/Qualcomm/RB3Gen2/Readme.md
  Silicon/Qualcomm/qcom-edk2-elf.lds
Owners: @leiflindholm, @mdkinney

CODEOWNERS:

# This file contains the list of maintainers (i.e. people who own the
# areas and can commit changes) for various parts of edk2-platforms.

# EDK II Platforms maintainers
# ============================

* @leiflindholm @mdkinney

/Platform/96Boards/** @ardbiesheuvel @leiflindholm

/Platform/AMD/** @abdattar @changab @pbgrimes

/Platform/AMD/AgesaModulePkg/** @abdattar @changab @pbgrimes
/Platform/AMD/AgesaPkg/**       @abdattar @changab @pbgrimes
/Platform/AMD/AmdCbsPkg/**      @abdattar @changab @pbgrimes
/Platform/AMD/AmdCpmPkg/**      @abdattar @changab @pbgrimes

# AMD Seattle platforms
/Platform/AMD/OverdriveBoard/** @abdattar @ardbiesheuvel @changab @leiflindholm @pbgrimes
/Silicon/AMD/Styx/**            @abdattar @ardbiesheuvel @changab @leiflindholm @pbgrimes
/Platform/LeMaker/CelloBoard/** @ardbiesheuvel @leiflindholm
/Platform/SoftIron/             @ardbiesheuvel @leiflindholm

# AMD VanGoghBoard
/Platform/AMD/VanGoghBoard/** @abdattar @changab @exinghr @pbgrimes

# Ampere Computing
/Platform/Ampere/** @nhivp @bexcran @chuongtranle
/Silicon/Ampere/** @nhivp @bexcran @chuongtranle
/Platform/ADLINK/** @bexcran

# ARM
/Platform/ARM/** @samimujawar
/Silicon/ARM/** @samimujawar

# BeagleBoard
/Platform/BeagleBoard/** @ardbiesheuvel @leiflindholm
/Silicon/TexasInstruments/** @ardbiesheuvel @leiflindholm

# Bosc platforms and silicon
/Platform/Bosc/** @vlsunil
/Silicon/Bosc/NanHuPkg/** @vlsunil

# DisplayLink
/Drivers/DisplayLink/** @ardbiesheuvel @leiflindholm

/Features/Ext4Pkg/** @heatd

# HiSilicon
/Platform/Hisilicon/** @leiflindholm
/Silicon/Hisilicon/** @leiflindholm

/Features/Intel/** @nate-desimone @SaiChaganty
/Features/Intel/Debugging/** @nate-desimone @SaiChaganty @ydong10
/Features/Intel/OutOfBandManagement/IpmiFeaturePkg/** @nate-desimone @SaiChaganty
/Features/Intel/UserInterface/** @dandanbi @nate-desimone @SaiChaganty

/Features/ManageabilityPkg/** @changab

/Platform/Intel/** @nate-desimone @SaiChaganty
/Platform/Intel/QuarkPlatformPkg/** @mdkinney @nate-desimone @SaiChaganty
/Platform/Intel/Vlv2TbltDevicePkg/** @nate-desimone @SaiChaganty @yqian4
/Platform/Intel/BoardModulePkg/** @nate-desimone @SaiChaganty @ydong10
/Platform/Intel/KabylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/AspireVn7Dash572G/** @benjamindoron @nate-desimone @SaiChaganty
/Platform/Intel/KabylakeOpenBoardPkg/GalagoPro3/** @jackpot51
/Platform/Intel/MinPlatformPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/PurleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/WhiskeylakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/CometlakeOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/TigerlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/AlderlakeOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/WhitleyOpenBoardPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Platform/Intel/SimicsOpenBoardPkg/** @nate-desimone @SaiChaganty
/Platform/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

/Silicon/Intel/** @nate-desimone @SaiChaganty
/Silicon/Intel/IntelSiliconPkg/** @nate-desimone @niruiyu @SaiChaganty
/Silicon/Intel/QuarkSocPkg/** @mdkinney @nate-desimone @SaiChaganty
/Silicon/Intel/Vlv2DeviceRefCodePkg/** @nate-desimone @SaiChaganty @yqian4
/Silicon/Intel/CoffeelakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/KabylakeSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/PurleyRefreshSiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/TigerlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/AlderlakeSiliconPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/WhitleySiliconPkg/** @ChaselChiu @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsX58SktPkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/SimicsIch10Pkg/** @nate-desimone @SaiChaganty
/Silicon/Intel/Tools/** @BobCF @lgao4 @nate-desimone @SaiChaganty

# Loongson platforms
/Platform/Loongson/** @bibo-mao @kilaterlee @lixianglai

# Marvell platforms and silicon
/Platform/Marvell/** @ndhillonm @wojtas-marcin
/Platform/SolidRun/** @ndhillonm @wojtas-marcin
/Silicon/Marvell/** @ndhillonm @wojtas-marcin

# Miscellaneous drivers
/Silicon/Atmel/** @leiflindholm
/Silicon/Openmoko/** @leiflindholm
/Silicon/Synopsys/DesignWare/** @leiflindholm

# NXP platforms and silicon
/Platform/NXP/** @leiflindholm
/Silicon/NXP/** @leiflindholm

# OptionRomPkg
# https://github.com/tianocore/tianocore.github.io/wiki/OptionRomPkg
/Drivers/OptionRomPkg/** @niruiyu

# Phytium platforms and silicon
/Platform/Phytium/** @leiflindholm
/Silicon/Phytium/** @leiflindholm

# QEMU EDK II Minimum Platform Specification implementation
/Platform/Qemu/QemuOpenBoardPkg/** @heatd

# QEMU sbsa-ref platform
/Platform/Qemu/SbsaQemu/** @ardbiesheuvel @hrw @leiflindholm
/Silicon/Qemu/SbsaQemu/** @ardbiesheuvel @hrw @leiflindholm

# Raspberry Pi platforms and silicon
/Platform/RaspberryPi/** @ardbiesheuvel @leiflindholm
/Silicon/Broadcom/** @ardbiesheuvel @leiflindholm

# RPMB driver for OP-TEE
/Drivers/OpTee/OpteeRpmbPkg/** @apalos @samimujawar

/Platform/RISC-V/PlatformPkg/** @vlsunil

/Platform/SiFive/U5SeriesPkg/** @JohnAZoidberg

# Socionext platforms and silicon
/Platform/Socionext/** @ardbiesheuvel @leiflindholm
/Silicon/NXP/Library/Pcf8563RealTimeClockLib/** @ardbiesheuvel @leiflindholm
/Silicon/Socionext/** @ardbiesheuvel @leiflindholm

/Silicon/RISC-V/ProcessorPkg/** @vlsunil

/Silicon/SiFive/** @JohnAZoidberg

# Sophgo platforms and silicon
/Platform/Sophgo/** @vlsunil
/Silicon/Sophgo/SG2042Pkg/** @vlsunil

# StandAloneMMPkg for OP-TEE
/Platform/StandaloneMm/PlatformStandaloneMmPkg/** @apalos @samimujawar
